@import "azure-devops-ui/_coreStyles.scss";

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  padding: 20px;
  background-color: $backgroundColor;
  width: 100%;
  font-family: "Segoe UI";
}
  
.pmd-card-metrics-header{
  display: block;
}
  
.pmd-card-metrics-measure{
  display: block;
}

.centered {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
}

.pmd-card-item {
  background-color: #fff;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132),0 .6px 1.8px 0 rgba(0, 0, 0, .108);
  border: none;
  height: 125px;
}

.card-metrics-value {
  font-size: 1.75rem;
}

.loader-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #737373;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-bottom: 0.5rem;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pmd-tiles {
  margin-bottom: 2rem;
}

.ReactVirtualized__Table__headerRow {
  height: 30px !important;
  background-color: #ececec;
}