lib
!packages/forcemula/lib
!packages/sfdc-soup/lib
tsconfig.tsbuildinfo
node_modules
build
dist
packages/azpipelines/.taskkey
.npmrc
lerna-debug.log
tmp/
oclif.manifest.json

 packages/azpipelines_release_management_extensions/BuildTasks/ManageReleaseTask/*

packages/core/coverage
packages/sfpowerscripts-cli/coverage
.DS_Store
packages/core/.sfpowerscripts/**

coverage/**
packages/apexlink/coverage
packages/sfpowerscripts-cli/oclif.manifest.json