lib
!packages/forcemula/lib
!packages/sfdc-soup/lib
tsconfig.tsbuildinfo
node_modules
build
dist
packages/azpipelines/.taskkey
.npmrc
lerna-debug.log
tmp/
oclif.manifest.json

 packages/azpipelines_release_management_extensions/BuildTasks/ManageReleaseTask/*

packages/core/coverage
packages/sfp-cli/coverage
.DS_Store


coverage/**
packages/apexlink/coverage
packages/sfp-cli/oclif.manifest.json
packages/apexlink/tests/resources/core-crm/apexlink.json
packages/apexlink/tests/resources/feature-mgmt/apexlink.json
.nx