
trigger:
  branches:
    include:
     - develop
  paths:
    exclude:
    - 'docs/*'


variables:
 - group: Tokens



stages:

#Merge to Develop, Deploy Alpha builds
- stage: Alpha
  condition: eq(variables['build.sourceBranch'], 'refs/heads/develop')
  dependsOn: []
  jobs:


  - deployment: BuildCLI
    displayName: sfdx-plugin
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-latest'
    environment: alpha
    strategy:
      runOnce:
        deploy:
          steps:
             - template: build_templates/buildcli.yml
               parameters:
                commitToGit: true
                version: 'alpha'
                publish: true



#Beta Stage
- stage: Beta
  condition: and(succeeded('Alpha'),eq(variables['build.sourceBranch'], 'refs/heads/develop'))
  dependsOn: Alpha
  jobs:


  - deployment: BuildCLI
    displayName: sfdx-plugin
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-latest'
    environment: beta
    strategy:
      runOnce:
        deploy:
          steps:
             - template: build_templates/buildcli.yml
               parameters:
                commitToGit: false
                version: 'beta'
                publish: false




# Hotfix stage
- stage: Hotfix
  displayName: Hotfix
  dependsOn: []
  condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/release')

  jobs:
  - deployment: BuildCLI
    displayName: sfdx-plugin
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-latest'
    environment: hotfix
    strategy:
      runOnce:
        deploy:
          steps:
             - template: build_templates/buildcli.yml
               parameters:
                commitToGit: false
                version: 'hotfix'
                publish: true


#Prod Stage
- stage: Prod
  condition: or(and(succeeded('Beta'),eq(variables['build.sourceBranch'], 'refs/heads/develop')), and(succeeded('Hotfix'),startsWith(variables['build.sourceBranch'], 'refs/heads/release')))
  dependsOn:
    - Beta
    - Hotfix
  jobs:


  - deployment: BuildCLI
    displayName: sfdx-plugin
    timeoutInMinutes: 30
    pool:
      vmImage: 'ubuntu-latest'
    environment: prod
    strategy:
      runOnce:
        deploy:
          steps:
             - template: build_templates/buildcli.yml
               parameters:
                commitToGit: false
                bump: 'patch'
                version: 'latest'
                publish: false


- stage: prod_sfp_cli
  condition: or(and(succeeded('Alpha'),eq(variables['build.sourceBranch'], 'refs/heads/develop')), and(succeeded('Hotfix'),startsWith(variables['build.sourceBranch'], 'refs/heads/release')))
  dependsOn:
    - Alpha
    - Hotfix
  jobs:


  - deployment: PromoteSfpCli
    displayName: sfp-cli
    timeoutInMinutes: 30
    pool:
      vmImage: 'ubuntu-latest'
    environment: prod
    strategy:
      runOnce:
        deploy:
          steps:
             - template: build_templates/promotePackage.yml
               parameters:
                 version: 'latest'
                 packageToPromote:
                   package: '@dxatscale/sfp-cli'
                   pjson: 'packages/sfp-cli/package.json'
