@import "azure-devops-ui/_coreStyles.scss";


  .pmd-card-item {
    border: 1px solid $neutral-alpha-20;
    width:200px;
    background-color: $neutral-2;
    height: 200px;
    flex: 1;
    margin-right: 30px; 
    padding:20px;
    
  }

  