body {
  font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
  font-size: 15px;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
  font-weight: bold;
}

#cy {
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  right: 0;
  z-index: 800;
}

.my-legend {
  font-size: 1.2em;
}

.my-legend .legend-title {
  position:absolute;
  top: 10px;
  right: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 90%;
}
.my-legend .legend-scale ul {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  position:absolute;
  top: 30px;
  right: 10px;
  list-style: none;
}
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
  display: inline-block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.my-legend a {
  color: #777;
}

#componentName {
  font-size: 1.2em;
  font-weight: bold;
}

#alert {
  position: absolute;
  top: 30px;
  left: 5px;
  font-size: 1.2em;
  color: orange;
}
