name: Promote Docker Image


on:
  workflow_call:
   inputs:
    version:
      type: string
      default: 'alpha'
    environment:
        type: string
        required: true
   secrets:
      gh-token:
        required: true
jobs:

  build:
    name: 'promote docker image'
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@v1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.gh-token }}


    - name: 'Promote Images'
      run: |
        PKG_VERSION=$(jq -r ".version" packages/sfpowerscripts-cli/package.json)
        docker pull ghcr.io/dxatscale/sfpowerscripts:$PKG_VERSION-${{ github.run_id }}
        docker tag  ghcr.io/dxatscale/sfpowerscripts:$PKG_VERSION-${{ github.run_id }}  ghcr.io/dxatscale/sfpowerscripts:${{ inputs.version }}
        docker push ghcr.io/dxatscale/sfpowerscripts:${{ inputs.version }}


