# Unique name for this workflow
name: Validate PR and Run Tests

# Definition when the workflow should run
on:
    workflow_dispatch:
    pull_request:
        types: [opened, synchronize, reopened]
        branches:
            - develop

# Jobs to be executed
jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Use Node.js
            uses: actions/setup-node@v1
            with:
              node-version: '12.x'
              registry-url: 'https://registry.npmjs.org'
          - name: Cache Node.js modules
            uses: actions/cache@v2
            with:
              # npm cache files are stored in `~/.npm` on Linux/macOS
              path: ~/.npm
              key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
              restore-keys: |
                ${{ runner.OS }}-node-
                ${{ runner.OS }}-          
          
          - run: npm ci
          - run: npx lerna bootstrap
          - run: npx lerna run build
          - run: npx lerna run test
          - run: bash <(curl -s https://codecov.io/bash) -v
            
