name: Build and Publish sfpowerscripts Docker Image to ghcr


on:
  workflow_call:
   inputs:
    job-environment:
        type: string
        required: true
    repo:
      type: string
      required: true
    image:
      type: string
      required: false
      default: sfpowerscripts
    suffix-tag:
      type: string
      required: true
   secrets:
      username:
          required: true
      token:
          required: true
      signing_secret:
          required: true
      cosign_password:
          required: true
      
jobs:

  build:
    name: 'build docker image'
    environment: ${{ inputs.job-environment }}
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0


    # Install the cosign tool except on PR
    # https://github.com/sigstore/cosign-installer
    - name: Install cosign
      uses: sigstore/cosign-installer@main
      with:
        cosign-release: 'v1.7.1'

    - name: Write signing key to disk (only needed for `cosign sign --key`)
      run: echo "${{ secrets.signing_secret }}" > cosign.key

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1


    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.username }}
        password: ${{ secrets.token }}


    # Extract metadata (tags, labels) for Docker
    # https://github.com/docker/metadata-action
    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v3
      with:
          images:  ghcr.io/${{ inputs.repo }}/${{ inputs.image }}


    - name: 'Get package version'
      run: |
        echo "PKG_VERSION=$(jq -r ".version" packages/sfpowerscripts-cli/package.json)" >> $GITHUB_ENV

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
          file: dockerfiles/sfpowerscripts.Dockerfile
          context: dockerfiles
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: |
              ghcr.io/${{ inputs.repo }}/${{ inputs.image }}:${{ env.PKG_VERSION }}-${{ inputs.suffix-tag }}
          build-args: | 
                  SFPOWERSCRIPTS_VERSION=${{ env.PKG_VERSION }}
                  GIT_COMMIT=${{ github.sha}}


    - name: Sign the published Docker image
      run: | 
          cosign sign --key cosign.key \
            -a "repo=${{ github.repository }}" \
            -a "workflow=${{ github.workflow }}" \
            -a "ref=${{ github.sha }}" \
             ghcr.io/${{ inputs.repo }}/${{ inputs.image }}:${{ env.PKG_VERSION }}-${{ inputs.suffix-tag }}
      env:
       COSIGN_PASSWORD: ${{ secrets.cosign_password }}

   #Tag the image as develop
    - name: 'Tag Docker'
      uses: ./.github/actions/tagDocker
      with:
         repo: ${{ inputs.repo }}
         image: ${{ inputs.image }}
         existing-tag: ${{ env.PKG_VERSION }}-${{ inputs.suffix-tag }}
         new-tag: ${{ github.ref_name }}
         registry: ghcr.io
         username:   ${{ secrets.username }}
         token: ${{ secrets.token }}